html,
body {
  height: 100%;
}

div {
  width: 100%;
  height: 100%;
}

/* HEADINGS */
h1 {
  color: white !important;
  transition: transform 0.3s ease;
  word-spacing: 10px;
}

/* NAVBAR */
.navbar {
  position: absolute !important;
  top: 0;
  width: 100%;
  background: transparent;
}

.navbar-nav {
  flex-grow: 1;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  position: relative;
  color: white !important;
  text-decoration: none;
}

.nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover:after {
  transform: scaleX(1);
}

.nav-link.active:after {
  transform: scaleX(1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border: 0 !important;
}

.button:focus:not(:focus-visible) {
  border: 0 !important;
}

/* INDEX PAGE */
.hero-image {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-top: 50px;
}

/* WEDDING PARTY PAGE */
.party-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.party-item.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.pick_your_color {
  font-size: 10vw;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(75, 45, 30);
  line-height: 1.2;
}

/* FAQ PAGE */
.faq-question {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.faq-link {
  position: relative;
  color: #adb98a !important;
  text-decoration: none;
}

.faq-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #adb98a;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.faq-link:hover:after {
  transform: scaleX(1);
}

.faq-link.active:after {
  transform: scaleX(1);
}

.faq-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.faq-item.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* FOOTER */
.footer-text {
  color: #8a9a5b !important;
}

.footer-text:hover {
  color: #474f2f !important;
}
